# Week 3

## Lecture 1: Subsetting and Sorting

### Subsetting

In [185]:
options(warn=-1)

In [100]:
set.seed(13435)

In [101]:
X <- data.frame("var1"=sample(1:5),"var2"=sample(6:10),"var3"=sample(11:15))
X

  var1 var2 var3
1 2     8   15
2 3     7   12
3 5     6   14
4 1    10   11
5 4     9   13

In [102]:
?sample

sample                  package:base                   R Documentation

_R_a_n_d_o_m _S_a_m_p_l_e_s _a_n_d _P_e_r_m_u_t_a_t_i_o_n_s

_D_e_s_c_r_i_p_t_i_o_n:

     'sample' takes a sample of the specified size from the elements of
     'x' using either with or without replacement.

_U_s_a_g_e:

     sample(x, size, replace = FALSE, prob = NULL)

     sample.int(n, size = n, replace = FALSE, prob = NULL,
                useHash = (!replace && is.null(prob) && size <= n/2 && n > 1e7))

_A_r_g_u_m_e_n_t_s:

       x: either a vector of one or more elements from which to choose,
          or a positive integer.  See 'Details.'

       n: a positive number, the number of items to choose from.  See
          'Details.'

    size: a non-negative integer giving the number of items to choose.

 replace: should sampling be with replacement?

    prob: a vector of probability weights for obtaining the elements of
          the vector being sampled.

 useHash: 'logical' indicating if the hash-version of the algorithm
          should be used.  Can only be used for 'replace = FALSE',
          'prob = NULL', and 'size <= n/2', and really should be used
          for large 'n', as 'useHash=FALSE' will use memory
          proportional to 'n'.

_D_e_t_a_i_l_s:

     If 'x' has length 1, is numeric (in the sense of 'is.numeric') and
     'x >= 1', sampling _via_ 'sample' takes place from '1:x'.  _Note_
     that this convenience feature may lead to undesired behaviour when
     'x' is of varying length in calls such as 'sample(x)'.  See the
     examples.

     Otherwise 'x' can be any R object for which 'length' and
     subsetting by integers make sense: S3 or S4 methods for these
     operations will be dispatched as appropriate.

     For 'sample' the default for 'size' is the number of items
     inferred from the first argument, so that 'sample(x)' generates a
     random permutation of the elements of 'x' (or '1:x').

     It is allowed to ask for 'size = 0' samples with 'n = 0' or a
     length-zero 'x', but otherwise 'n > 0' or positive 'length(x)' is
     required.

     Non-integer positive numerical values of 'n' or 'x' will be
     truncated to the next smallest integer, which has to be no larger
     than '.Machine$integer.max'.

     The optional 'prob' argument can be used to give a vector of
     weights for obtaining the elements of the vector being sampled.
     They need not sum to one, but they should be non-negative and not
     all zero.  If 'replace' is true, Walker's alias method (Ripley,
     1987) is used when there are more than 200 reasonably probable
     values: this gives results incompatible with those from R < 2.2.0.

     If 'replace' is false, these probabilities are applied
     sequentially, that is the probability of choosing the next item is
     proportional to the weights amongst the remaining items.  The
     number of nonzero weights must be at least 'size' in this case.

     'sample.int' is a bare interface in which both 'n' and 'size' must
     be supplied as integers.

     Argument 'n' can be larger than the largest integer of type
     'integer', up to the largest representable integer in type
     'double'.  Only uniform sampling is supported.  Two random numbers
     are used to ensure uniform sampling of large integers.

_V_a_l_u_e:

     For 'sample' a vector of length 'size' with elements drawn from
     either 'x' or from the integers '1:x'.

     For 'sample.int', an integer vector of length 'size' with elements
     from '1:n', or a double vector if n >= 2^31.

_R_e_f_e_r_e_n_c_e_s:

     Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S
     Language_.  Wadsworth & Brooks/Cole.

     Ripley, B. D. (1987) _Stochastic Simulation_. Wiley.

_S_e_e _A_l_s_o:

     'RNG' about random number generation.

     CRAN package 'sampling' for other methods of weighted sampling
     without replacement.

_E_x_a_m_p_l_e_s:

     x <- 1:12
     # a random permutation
     sample(x)
     # bootstrap resampling -- only if length(x) > 1 !
     sample(x, replace = TRUE)

     # 100 Bernoulli trials
     sample(c(0,1), 100, replace = TRUE)

     ## More careful bootstrapping --  Consider this when using sample()
     ## programmatically (i.e., in your function or simulation)!

     # sample()'s surprise -- example
     x <- 1:10
         sample(x[x >  8]) # length 2
         sample(x[x >  9]) # oops -- length 10!
         sample(x[x > 10]) # length 0

     ## safer version:
     resample <- function(x, ...) x[sample.int(length(x), ...)]
     resample(x[x >  8]) # length 2
     resample(x[x >  9]) # length 1
     resample(x[x > 10]) # length 0

     ## R 3.x.y only
     sample.int(1e10, 12, replace = TRUE)
     sample.int(1e10, 12) # not that there is much chance of duplicates

In [103]:
X <- X[sample(1:5),];X$var2[c(1,3)]=NA

In [104]:
X

  var1 var2 var3
1 2    NA   15
4 1    10   11
2 3    NA   12
3 5     6   14
5 4     9   13

In [105]:
X[,1]

[1] 2 1 3 5 4

In [106]:
X[,"var1"]

[1] 2 1 3 5 4

In [107]:
X[1:2,"var2"]

[1] NA 10

In [108]:
X[(X$var1 <= 3) & (X$var3 >11),]

  var1 var2 var3
1 2    NA   15
2 3    NA   12

In [109]:
X[which(X$var2>8),]

  var1 var2 var3
4 1    10   11
5 4     9   13

### Sorting

In [110]:
sort(X$var1)

[1] 1 2 3 4 5

In [111]:
sort(X$var1,decreasing = TRUE)

[1] 5 4 3 2 1

In [112]:
sort(X$var2,na.last = TRUE)

[1]  6  9 10 NA NA

In [113]:
X[order(X$var1),]

  var1 var2 var3
4 1    10   11
1 2    NA   15
2 3    NA   12
5 4     9   13
3 5     6   14

In [114]:
#####Multiplie Sort
X[order(X$var1,X$var3),]

  var1 var2 var3
4 1    10   11
1 2    NA   15
2 3    NA   12
5 4     9   13
3 5     6   14

In [115]:
#install.packages("plyr",repos = "https://cran.ma.imperial.ac.uk/")

### Ordering with plyr

In [116]:
library(plyr)

In [117]:
arrange(X,var1)

  var1 var2 var3
1 1    10   11
2 2    NA   15
3 3    NA   12
4 4     9   13
5 5     6   14

In [118]:
arrange(X,desc(var1))

  var1 var2 var3
1 5     6   14
2 4     9   13
3 3    NA   12
4 2    NA   15
5 1    10   11

### Adding rows and columns

In [119]:
X$var4 <- rnorm(5)
X

  var1 var2 var3 var4
1 2    NA   15    0.1875960
4 1    10   11    1.7869764
2 3    NA   12    0.4966936
3 5     6   14    0.0631830
5 4     9   13   -0.5361329

In [120]:
Y <- cbind(X,rnorm(5))

In [121]:
Y

  var1 var2 var3 var4       rnorm(5)
1 2    NA   15    0.1875960  0.62578490
4 1    10   11    1.7869764 -2.45083750
2 3    NA   12    0.4966936  0.08909424
3 5     6   14    0.0631830  0.47838570
5 4     9   13   -0.5361329  1.00053336

---

# Lecture 2: Summarizing Data

In [122]:
if(!file.exists("./data")){
    dir.create("./data")
}
fileUrl <- "https://data.baltimorecity.gov/api/views/k5ry-ef3g/rows.csv?accessType=DOWNLOAD"
download.file(fileUrl,destfile = "./data/Restaurants.csv")
restData <- read.csv("./data/Restaurants.csv")

In [123]:
head(restData,n=3)

  name  zipCode neighborhood councilDistrict policeDistrict
1 410   21206   Frankford    2               NORTHEASTERN
2 1919  21231   Fells Point  1               SOUTHEASTERN
3 SAUTE 21224   Canton       1               SOUTHEASTERN
  Location.1
1 4509 BELAIR ROAD\nBaltimore, MD\n
2 1919 FLEET ST\nBaltimore, MD\n
3 2844 HUDSON ST\nBaltimore, MD\n

In [124]:
tail(restData,n=3)

     name         zipCode neighborhood  councilDistrict policeDistrict
1325 ZINK'S CAFÂ 21213   Belair-Edison 13              NORTHEASTERN
1326 ZISSIMOS BAR 21211   Hampden        7              NORTHERN
1327 ZORBAS       21224   Greektown      2              SOUTHEASTERN
     Location.1
1325 3300 LAWNVIEW AVE\nBaltimore, MD\n
1326 1023 36TH ST\nBaltimore, MD\n
1327 4710 EASTERN Ave\nBaltimore, MD\n

In [125]:
?summary

summary                  package:base                  R Documentation

_O_b_j_e_c_t _S_u_m_m_a_r_i_e_s

_D_e_s_c_r_i_p_t_i_o_n:

     'summary' is a generic function used to produce result summaries
     of the results of various model fitting functions.  The function
     invokes particular 'methods' which depend on the 'class' of the
     first argument.

_U_s_a_g_e:

     summary(object, ...)

     ## Default S3 method:
     summary(object, ..., digits)
     ## S3 method for class 'data.frame'
     summary(object, maxsum = 7,
            digits = max(3, getOption("digits")-3), ...)

     ## S3 method for class 'factor'
     summary(object, maxsum = 100, ...)

     ## S3 method for class 'matrix'
     summary(object, ...)

     ## S3 method for class 'summaryDefault'
     format(x, digits = max(3L, getOption("digits") - 3L), ...)
      ## S3 method for class 'summaryDefault'
     print(x, digits = max(3L, getOption("digits") - 3L), ...)

_A_r_g_u_m_e_n_t_s:

  object: an object for which a summary is desired.

       x: a result of the _default_ method of 'summary()'.

  maxsum: integer, indicating how many levels should be shown for
          'factor's.

  digits: integer, used for number formatting with 'signif()' (for
          'summary.default') or 'format()' (for 'summary.data.frame').
          In 'summary.default', if not specified (i.e., 'missing(.)'),
          'signif()' will _not_ be called anymore (since R >= 3.4.0,
          where the default has been changed to only round in the
          'print' and 'format' methods).

     ...: additional arguments affecting the summary produced.

_D_e_t_a_i_l_s:

     For 'factor's, the frequency of the first 'maxsum - 1' most
     frequent levels is shown, and the less frequent levels are
     summarized in '"(Others)"' (resulting in at most 'maxsum'
     frequencies).

     The functions 'summary.lm' and 'summary.glm' are examples of
     particular methods which summarize the results produced by 'lm'
     and 'glm'.

_V_a_l_u_e:

     The form of the value returned by 'summary' depends on the class
     of its argument.  See the documentation of the particular methods
     for details of what is produced by that method.

     The default method returns an object of class 'c("summaryDefault",
     "table")' which has specialized 'format' and 'print' methods.  The
     'factor' method returns an integer vector.

     The matrix and data frame methods return a matrix of class
     '"table"', obtained by applying 'summary' to each column and
     collating the results.

_R_e_f_e_r_e_n_c_e_s:

     Chambers, J. M. and Hastie, T. J. (1992) _Statistical Models in
     S_.  Wadsworth & Brooks/Cole.

_S_e_e _A_l_s_o:

     'anova', 'summary.glm', 'summary.lm'.

_E_x_a_m_p_l_e_s:

     summary(attenu, digits = 4) #-> summary.data.frame(...), default precision
     summary(attenu $ station, maxsum = 20) #-> summary.factor(...)

     lst <- unclass(attenu$station) > 20 # logical with NAs
     ## summary.default() for logicals -- different from *.factor:
     summary(lst)
     summary(as.factor(lst))

In [126]:
summary(restData)

                           name         zipCode             neighborhood
 MCDONALD'S                  :   8   Min.   :-21226   Downtown    :128
 POPEYES FAMOUS FRIED CHICKEN:   7   1st Qu.: 21202   Fells Point : 91
 SUBWAY                      :   6   Median : 21218   Inner Harbor: 89
 KENTUCKY FRIED CHICKEN      :   5   Mean   : 21185   Canton      : 81
 BURGER KING                 :   4   3rd Qu.: 21226   Federal Hill: 42
 DUNKIN DONUTS               :   4   Max.   : 21287   Mount Vernon: 33
 (Other)                     :1293                    (Other)     :863
 councilDistrict       policeDistrict                          Location.1
 Min.   : 1.000   SOUTHEASTERN:385    1101 RUSSELL ST\nBaltimore, MD\n:   9
 1st Qu.: 2.000   CENTRAL     :288    201 PRATT ST\nBaltimore, MD\n   :   8
 Median : 9.000   SOUTHERN    :213    2400 BOSTON ST\nBaltimore, MD\n :   8
 Mean   : 7.191   NORTHERN    :157    300 LIGHT ST\nBaltimore, MD\n   :   5
 3rd Qu.:11.000   NORTHEASTERN: 72    300 CHARLES ST\nBaltimore, MD\n :   4
 Max.   :14.000   EASTERN     : 67    301 LIGHT ST\nBaltimore, MD\n   :   4
                  (Other)     :145    (Other)                         :1289

In [127]:
str(restData)

'data.frame':	1327 obs. of  6 variables:
 $ name           : Factor w/ 1277 levels "#1 CHINESE KITCHEN",..: 9 3 992 1 2 4 5 6 7 8 ...
 $ zipCode        : int  21206 21231 21224 21211 21223 21218 21205 21211 21205 21231 ...
 $ neighborhood   : Factor w/ 173 levels "Abell","Arlington",..: 53 52 18 66 104 33 98 133 98 157 ...
 $ councilDistrict: int  2 1 1 14 9 14 13 7 13 1 ...
 $ policeDistrict : Factor w/ 9 levels "CENTRAL","EASTERN",..: 3 6 6 4 8 3 6 4 6 6 ...
 $ Location.1     : Factor w/ 1210 levels "1 BIDDLE ST\nBaltimore, MD\n",..: 835 334 554 755 492 537 505 530 507 569 ...

In [128]:
quantile(restData$councilDistrict,na.rm = TRUE)

  0%  25%  50%  75% 100%
   1    2    9   11   14

In [129]:
quantile(restData$councilDistrict,na.rm = TRUE,probs = c(0.5,0.75,0.9))

50% 75% 90%
  9  11  12

### Make Table

In [130]:
table(restData$zipCode,useNA = "ifany")

-21226  21201  21202  21205  21206  21207  21208  21209  21210  21211  21212
     1    136    201     27     30      4      1      8     23     41     28
 21213  21214  21215  21216  21217  21218  21220  21222  21223  21224  21225
    31     17     54     10     32     69      1      7     56    199     19
 21226  21227  21229  21230  21231  21234  21237  21239  21251  21287
    18      4     13    156    127      7      1      3      2      1

In [131]:
table(restData$councilDistrict,restData$zipCode)

     -21226 21201 21202 21205 21206 21207 21208 21209 21210 21211 21212 21213
  1       0     0    37     0     0     0     0     0     0     0     0     2
  2       0     0     0     3    27     0     0     0     0     0     0     0
  3       0     0     0     0     0     0     0     0     0     0     0     2
  4       0     0     0     0     0     0     0     0     0     0    27     0
  5       0     0     0     0     0     3     0     6     0     0     0     0
  6       0     0     0     0     0     0     0     1    19     0     0     0
  7       0     0     0     0     0     0     0     1     0    27     0     0
  8       0     0     0     0     0     1     0     0     0     0     0     0
  9       0     1     0     0     0     0     0     0     0     0     0     0
  10      1     0     1     0     0     0     0     0     0     0     0     0
  11      0   115   139     0     0     0     1     0     0     0     1     0
  12      0    20    24     4     0     0     0     0     0     0     0    13
  13      0     0     0    20     3     0     0     0     0     0     0    13
  14      0     0     0     0     0     0     0     0     4    14     0     1

     21214 21215 21216 21217 21218 21220 21222 21223 21224 21225 21226 21227
  1      0     0     0     0     0     0     7     0   140     1     0     0
  2      0     0     0     0     0     0     0     0    54     0     0     0
  3     17     0     0     0     3     0     0     0     0     0     0     1
  4      0     0     0     0     0     0     0     0     0     0     0     0
  5      0    31     0     0     0     0     0     0     0     0     0     0
  6      0    15     1     0     0     0     0     0     0     0     0     0
  7      0     6     7    15     6     0     0     0     0     0     0     0
  8      0     0     0     0     0     0     0     2     0     0     0     2
  9      0     0     2     8     0     0     0    53     0     0     0     0
  10     0     0     0     0     0     1     0     0     0    18    18     0
  11     0     0     0     9     0     0     0     1     0     0     0     0
  12     0     0     0     0    26     0     0     0     0     0     0     0
  13     0     1     0     0     0     0     0     0     5     0     0     1
  14     0     1     0     0    34     0     0     0     0     0     0     0

     21229 21230 21231 21234 21237 21239 21251 21287
  1      0     1   124     0     0     0     0     0
  2      0     0     0     0     1     0     0     0
  3      0     0     0     7     0     0     2     0
  4      0     0     0     0     0     3     0     0
  5      0     0     0     0     0     0     0     0
  6      0     0     0     0     0     0     0     0
  7      0     0     0     0     0     0     0     0
  8     13     0     0     0     0     0     0     0
  9      0    11     0     0     0     0     0     0
  10     0   133     0     0     0     0     0     0
  11     0    11     0     0     0     0     0     0
  12     0     0     2     0     0     0     0     0
  13     0     0     1     0     0     0     0     1
  14     0     0     0     0     0     0     0     0

### Check for Missing values

In [132]:
sum(is.na(restData$councilDistrict))

[1] 0

In [133]:
any(is.na(restData$councilDistrict))

[1] FALSE

In [134]:
all(restData$zipCode>0)

[1] FALSE

### Rows and column sums

In [135]:
colSums(is.na(restData))

           name         zipCode    neighborhood councilDistrict  policeDistrict
              0               0               0               0               0
     Location.1
              0

In [136]:
all(colSums(is.na(restData))==0)

[1] TRUE

### Values with specific characteristics

In [137]:
table(restData$zipCode %in% c("21212"))

FALSE  TRUE
 1299    28

In [138]:
table(restData$zipCode %in% c("21212","21213"))

FALSE  TRUE
 1268    59

In [139]:
restData[restData$zipCode %in% c("21212","21213"),]

     name                                 zipCode neighborhood
29   BAY ATLANTIC CLUB                    21212   Downtown
39   BERMUDA BAR                          21213   Broadway East
92   ATWATER'S                            21212   Chinquapin Park-Belvedere
111  BALTIMORE ESTONIAN SOCIETY           21213   South Clifton Park
187  CAFE ZEN                             21212   Rosebank
220  CERIELLO FINE FOODS                  21212   Chinquapin Park-Belvedere
266  CLIFTON PARK GOLF COURSE SNACK BAR   21213   Darley Park
276  CLUB HOUSE BAR & GRILL               21213   Orangeville Industrial Area
289  CLUBHOUSE BAR & GRILL                21213   Orangeville Industrial Area
291  COCKY LOU'S                          21213   Broadway East
362  DREAM TAVERN, CARRIBEAN  U.S.A.      21213   Broadway East
373  DUNKIN DONUTS                        21212   Homeland
383  EASTSIDE  SPORTS  SOCIAL  CLUB       21213   Broadway East
417  FIELDS OLD TRAIL                     21212   Mid-Govans
475  GRAND CRU                            21212   Chinquapin Park-Belvedere
545  RANDY'S BAR                          21213   Broadway East
604  MURPHY'S NEIGHBORHOOD BAR & GRILL    21212   Mid-Govans
616  NEOPOL                               21212   Chinquapin Park-Belvedere
620  NEW CLUB THUNDERBIRD INC.            21213   Middle East
626  NEW MAYFIELD, INC.                   21213   Belair-Edison
678  IKAN SEAFOOD                         21212   Chinquapin Park-Belvedere
711  KAY-CEE CLUB                         21212   Homeland
763  LA'RAE                               21213   Oliver
777  LEMONGRASS BALTIMORE                 21213   Little Italy
779  LEN'S SANDWICH SHOP                  21213   Broadway East
845  MCDONALD'S                           21213   South Clifton Park
852  MCDONALD'S                           21212   Radnor-Winston
873  NEW REX LIQUORS,INC.                 21212   Wilson Park
895  OK TAVERN                            21213   Biddle Street
919  PANERA BREAD                         21212   Lake Walker
940  PEIWEI ASIAN DINER                   21212   Cedarcroft
949  PERGUSA ENTERPRISES                  21212   Rosebank
957  PHANTOM'S BAR AND GRILL              21213   Belair-Edison
976  POPEYES FAMOUS FRIED CHICKEN         21212   Winston-Govans
994  ROBBIE'S NEST                        21213   Broadway East
1017 RUTLAND BAR                          21213   Broadway East
1018 RYAN'S DAUGHTER                      21212   Chinquapin Park-Belvedere
1022 saigon remembered restaurant         21212   Mid-Govans
1053 SHIRLEY'S  HONEY HOLE                21213   Broadway East
1120 STEEPLE CHASE II                     21213   Biddle Street
1122 SUBWAY                               21213   Oliver
1153 TAM-TAM                              21212   Mid-Govans
1155 TASTE                                21212   Mid-Govans
1159 TAYLORS EAST                         21213   Berea
1186 THE EDGE BAR & LOUNGE                21213   Broadway East
1187 THE EDGE BAR & LOUNGE - KITCHEN AREA 21213   Broadway East
1198 THE HOLLOW BAR & GRILL               21212   Rosebank
1209 THE NEW BUCKETT'S LOUNGE             21213   Broadway East
1232 THREE  ACE'S                         21213   Belair-Edison
1246 TORAIN'S  HIDE-A-WAY                 21213   Broadway East
1259 TSUNAMI BALTIMORE                    21213   Little Italy
1287 VITO'S PIZZA                         21212   Cedarcroft
1298 WENDY'S OLD FASHIONED HAMBURGERS #96 21212   Homeland
1304 WHITTEN'S  (4502-04)                 21213   Claremont-Freedom
1312 wozi lounge                          21212   Guilford
1319 YETI RESTAURANT & CARRYOUT           21212   Rosebank
1320 YORK CLUB TAVERN                     21212   Homeland
1323 ZEN WEST ROADSIDE CANTINA            21212   Rosebank
1325 ZINK'S CAFÂ                         21213   Belair-Edison
     councilDistrict policeDistrict Location.1
29   11              CENTRAL        206 REDWOOD ST\nBaltimore, MD\n
39   12              EASTERN        1801 NORTH AVE\nBaltimore, MD\n
92    4              NORTHERN       529 BELVEDERE AVE\nBaltimore, MD\n
111  12              EASTERN        1932 BELAIR RD\nBaltimore, MD\n
187   4              NORTHERN       438 BELVEDERE AVE\nBaltimore, MD\n
220   4              NORTHERN       529 BELVEDERE AVE\nBaltimore, MD\n
266  14              NORTHEASTERN   2701 ST LO DR\nBaltimore, MD\n
276  13              EASTERN        4217 ERDMAN AVE\nBaltimore, MD\n
289  13              EASTERN        4217 ERDMAN AVE\nBaltimore, MD\n
291  12              EASTERN        2101 NORTH AVE\nBaltimore, MD\n
362  13              EASTERN        2300 LAFAYETTE AVE\nBaltimore, MD\n
373   4              NORTHERN       5422 YORK RD\nBaltimore, MD\n
383  13              EASTERN        1203 COLLINGTON AVE\nBaltimore, MD\n
417   4              NORTHERN       5723 YORK RD\nBaltimore, MD\n
475   4              NORTHERN       527 BELVEDERE AVE\nBaltimore, MD\n
545  12              EASTERN        2135 NORTH AVE\nBaltimore, MD\n
604   4              NORTHERN       5847 YORK RD\nBaltimore, MD\n
616   4              NORTHERN       529 BELVEDERE AVE\nBaltimore, MD\n
620  13              EASTERN        2201 CHASE ST\nBaltimore, MD\n
626  13              NORTHEASTERN   3349 BELAIR RD\nBaltimore, MD\n
678   4              NORTHERN       529 BELVEDERE AVE\nBaltimore, MD\n
711   4              NORTHERN       201 HOMELAND AVE\nBaltimore, MD\n
763  12              EASTERN        1000 HOFFMAN ST\nBaltimore, MD\n
777   1              SOUTHEASTERN   1300 BANK STREET\nBaltimore, MD\n
779  12              EASTERN        1500 WASHINGTON ST\nBaltimore, MD\n
845  12              EASTERN        2001 BROADWAY\nBaltimore, MD\n
852   4              NORTHERN       5100 YORK RD\nBaltimore, MD\n
873   4              NORTHERN       4637 YORK RD\nBaltimore, MD\n
895  13              EASTERN        2301 BIDDLE ST\nBaltimore, MD\n
919   4              NORTHERN       6307 1 2 YORK RD\nBaltimore, MD\n
940   4              NORTHERN       6302 YORK RD\nBaltimore, MD\n
949   4              NORTHERN       5928 YORK RD\nBaltimore, MD\n
957   3              NORTHEASTERN   3539 BELAIR RD\nBaltimore, MD\n
976   4              NORTHERN       5002 YORK RD\nBaltimore, MD\n
994  12              EASTERN        2250 NORTH AVE\nBaltimore, MD\n
1017 12              EASTERN        1508 RUTLAND AVE\nBaltimore, MD\n
1018  4              NORTHERN       600 BELVEDERE AVE\nBaltimore, MD\n
1022  4              NORTHERN       5857 york rd\nBaltimore, MD\n
1053 13              EASTERN        2300 OLIVER ST\nBaltimore, MD\n
1120 13              EASTERN        2401 CHASE ST\nBaltimore, MD\n
1122 12              EASTERN        1400 NORTH AVE\nBaltimore, MD\n
1153  4              NORTHERN       5722 YORK RD\nBaltimore, MD\n
1155  4              NORTHERN       510 BELVEDERE AVE\nBaltimore, MD\n
1159 13              EASTERN        1201 POTOMAC ST\nBaltimore, MD\n
1186 12              EASTERN        2015 FEDERAL ST\nBaltimore, MD\n
1187 12              EASTERN        2015 FEDERAL ST\nBaltimore, MD\n
1198  4              NORTHERN       5921 YORK RD\nBaltimore, MD\n
1209 13              EASTERN        1432 CHESTER ST\nBaltimore, MD\n
1232  3              NORTHEASTERN   3534 belair RD\nBaltimore, MD\n
1246 12              EASTERN        1701 ELLSWORTH ST\nBaltimore, MD\n
1259  1              SOUTHEASTERN   1300 BANK ST\nBaltimore, MD\n
1287  4              NORTHERN       6304 YORK RD\nBaltimore, MD\n
1298  4              NORTHERN       5615 YORK RD\nBaltimore, MD\n
1304 13              NORTHEASTERN   4502 ERDMAN AVE\nBaltimore, MD\n
1312  4              NORTHERN       4515 YORK RD\nBaltimore, MD\n
1319  4              NORTHERN       5926 YORK RD\nBaltimore, MD\n
1320  4              NORTHERN       5407 YORK RD\nBaltimore, MD\n
1323  4              NORTHERN       5916 YORK RD\nBaltimore, MD\n
1325 13              NORTHEASTERN   3300 LAWNVIEW AVE\nBaltimore, MD\n

### Cross Tabs

In [140]:
data(UCBAdmissions)

In [141]:
DF <- as.data.frame(UCBAdmissions)

In [142]:
summary(DF)

      Admit       Gender   Dept       Freq
 Admitted:12   Male  :12   A:4   Min.   :  8.0
 Rejected:12   Female:12   B:4   1st Qu.: 80.0
                           C:4   Median :170.0
                           D:4   Mean   :188.6
                           E:4   3rd Qu.:302.5
                           F:4   Max.   :512.0

In [143]:
str(DF)

'data.frame':	24 obs. of  4 variables:
 $ Admit : Factor w/ 2 levels "Admitted","Rejected": 1 2 1 2 1 2 1 2 1 2 ...
 $ Gender: Factor w/ 2 levels "Male","Female": 1 1 2 2 1 1 2 2 1 1 ...
 $ Dept  : Factor w/ 6 levels "A","B","C","D",..: 1 1 1 1 2 2 2 2 3 3 ...
 $ Freq  : num  512 313 89 19 353 207 17 8 120 205 ...

In [181]:
head(DF)

  Admit    Gender Dept Freq
1 Admitted Male   A    512
2 Rejected Male   A    313
3 Admitted Female A     89
4 Rejected Female A     19
5 Admitted Male   B    353
6 Rejected Male   B    207

In [144]:
xt <- xtabs(Freq ~ Gender + Admit , data=DF)
xt

        Admit
Gender   Admitted Rejected
  Male       1198     1493
  Female      557     1278

### Flat Tables

zt <- xtabs(Freq ~. ,data=DF)
zt

In [146]:
ftable(zt)

                Dept   A   B   C   D   E   F
Admit    Gender
Admitted Male        512 353 120 138  53  22
         Female       89  17 202 131  94  24
Rejected Male        313 207 205 279 138 351
         Female       19   8 391 244 299 317

### Size of dataset

In [147]:
fakeData = rnorm(1e5)

In [148]:
object.size(fakeData)

800040 bytes

In [149]:
print(object.size(fakeData),units = "MB")

0.8 Mb

## Lecture3: Creating new Variables

### Downloading Data

In [150]:
if(!file.exists("./data")){
    dir.create("./data")
}
fileUrl <- "https://data.baltimorecity.gov/api/views/k5ry-ef3g/rows.csv?accessType=DOWNLOAD"
download.file(fileUrl,destfile = "./data/Restaurants.csv")
restData <- read.csv("./data/Restaurants.csv")

### Creating sequence

In [151]:
s1 <- seq(1,10,by=2);s1

[1] 1 3 5 7 9

In [152]:
s2 <- seq(1,10,length=3);s2

[1]  1.0  5.5 10.0

In [153]:
x <- c(1,3,8,25,100); seq(along =x)

[1] 1 2 3 4 5

### Subsetting variables

In [154]:
restData$nearMe =restData$neighborhood %in% c("Roland Park","Homeland")

In [155]:
table(restData$nearMe)

FALSE  TRUE
 1314    13

### Creating binary variables

In [156]:
restData$zipWrong = ifelse(restData$zipCode < 0,TRUE,FALSE)
table(restData$zipWrong,restData$zipCode<0)

        FALSE TRUE
  FALSE  1326    0
  TRUE      0    1

### Creating categorical variables

In [157]:
restData$zipGroups = cut(restData$zipCode,breaks = quantile(restData$zipCode))
table(restData$zipGroups)

(-2.123e+04,2.12e+04]  (2.12e+04,2.122e+04] (2.122e+04,2.123e+04]
                  337                   375                   282
(2.123e+04,2.129e+04]
                  332

In [158]:
table(restData$zipGroups,restData$zipCode)

                        -21226 21201 21202 21205 21206 21207 21208 21209 21210
  (-2.123e+04,2.12e+04]      0   136   201     0     0     0     0     0     0
  (2.12e+04,2.122e+04]       0     0     0    27    30     4     1     8    23
  (2.122e+04,2.123e+04]      0     0     0     0     0     0     0     0     0
  (2.123e+04,2.129e+04]      0     0     0     0     0     0     0     0     0

                        21211 21212 21213 21214 21215 21216 21217 21218 21220
  (-2.123e+04,2.12e+04]     0     0     0     0     0     0     0     0     0
  (2.12e+04,2.122e+04]     41    28    31    17    54    10    32    69     0
  (2.122e+04,2.123e+04]     0     0     0     0     0     0     0     0     1
  (2.123e+04,2.129e+04]     0     0     0     0     0     0     0     0     0

                        21222 21223 21224 21225 21226 21227 21229 21230 21231
  (-2.123e+04,2.12e+04]     0     0     0     0     0     0     0     0     0
  (2.12e+04,2.122e+04]      0     0     0     0     0     0     0     0     0
  (2.122e+04,2.123e+04]     7    56   199    19     0     0     0     0     0
  (2.123e+04,2.129e+04]     0     0     0     0    18     4    13   156   127

                        21234 21237 21239 21251 21287
  (-2.123e+04,2.12e+04]     0     0     0     0     0
  (2.12e+04,2.122e+04]      0     0     0     0     0
  (2.122e+04,2.123e+04]     0     0     0     0     0
  (2.123e+04,2.129e+04]     7     1     3     2     1

### Easier Cutting

In [159]:
#install.packages("Hmisc",repos = "https://cran.ma.imperial.ac.uk/")

In [160]:
library(Hmisc)
restData$zipGroups = cut2(restData$zipCode)
table(restData$zipGroups)

[-21226,21205) [ 21205,21213) [ 21213,21220) [ 21220,21225) [ 21225,21227)
           338            162            213            263             37
[ 21227,21231) [ 21231,21287]
           173            141

### Creating factor variables

In [161]:
restData$zcf <- factor(restData$zipCode)
restData$zcf[1:10]

 [1] 21206 21231 21224 21211 21223 21218 21205 21211 21205 21231
32 Levels: -21226 21201 21202 21205 21206 21207 21208 21209 21210 ... 21287

### Level of Factor variable

In [162]:
yesno <- sample(c("yes","no"),size = 10,replace = TRUE)
yesnofac = factor(yesno,level=c("yes","no"))
relevel(yesnofac,ref="yes")

 [1] no  no  yes yes yes no  yes no  yes no
Levels: yes no

In [163]:
as.numeric(yesnofac)

 [1] 2 2 1 1 1 2 1 2 1 2

### Using the mutate functions

In [164]:
library(Hmisc)
library(plyr)
restData2 = mutate(restData,zipGroups = cut2(restData$zipCode,g = 4))
table(restData$zipGroups)

[-21226,21205) [ 21205,21213) [ 21213,21220) [ 21220,21225) [ 21225,21227)
           338            162            213            263             37
[ 21227,21231) [ 21231,21287]
           173            141

---

## Lecture 4 Reshaping Data

### Tidying the data
* Each variable forms a column <br>
* Each observation forms a row <br>
* Each table/file stores data about one kind of observation(e.g. hospital/person)

### Start with reshaping the data

In [165]:
library(reshape2)
data(mtcars)
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

### Melting the dataframes

In [166]:
mtcars$carname <- rownames(mtcars)
carMelt <- melt(mtcars,id=c("carname","gear","cyl"),measure.vars = c("mpg","hp"))
head(carMelt)

  carname           gear cyl variable value
1 Mazda RX4         4    6   mpg      21.0
2 Mazda RX4 Wag     4    6   mpg      21.0
3 Datsun 710        4    4   mpg      22.8
4 Hornet 4 Drive    3    6   mpg      21.4
5 Hornet Sportabout 3    8   mpg      18.7
6 Valiant           3    6   mpg      18.1

In [167]:
tail(carMelt)

   carname        gear cyl variable value
59 Porsche 914-2  5    4   hp        91
60 Lotus Europa   5    4   hp       113
61 Ford Pantera L 5    8   hp       264
62 Ferrari Dino   5    6   hp       175
63 Maserati Bora  5    8   hp       335
64 Volvo 142E     4    4   hp       109

## Casting the dataframes

In [168]:
cylData <- dcast(carMelt,cyl~variable)
cylData

Aggregation function missing: defaulting to length

  cyl mpg hp
1 4   11  11
2 6    7   7
3 8   14  14

In [169]:
cylData <- dcast(carMelt,cyl~variable,mean)
cylData

  cyl mpg      hp
1 4   26.66364  82.63636
2 6   19.74286 122.28571
3 8   15.10000 209.21429

### Averaging the values

In [170]:
data(InsectSprays)
head(InsectSprays)

  count spray
1 10    A
2  7    A
3 20    A
4 14    A
5 14    A
6 12    A

In [171]:
tapply(InsectSprays$count,InsectSprays$spray,sum)

  A   B   C   D   E   F
174 184  25  59  42 200

### Another way-split/apply

In [172]:
spIns = split(InsectSprays$count,InsectSprays$spray)
spIns
class(spIns)

$A
 [1] 10  7 20 14 14 12 10 23 17 20 14 13

$B
 [1] 11 17 21 11 16 14 17 17 19 21  7 13

$C
 [1] 0 1 7 2 3 1 2 1 3 0 1 4

$D
 [1]  3  5 12  6  4  3  5  5  5  5  2  4

$E
 [1] 3 5 3 5 3 6 1 1 3 2 6 4

$F
 [1] 11  9 15 22 15 16 13 10 26 26 24 13

[1] "list"

In [173]:
mat <- matrix(unlist(spIns),nr=12)
colnames(mat) <- names(spIns)
mat

      A  B  C D  E F
 [1,] 10 11 0  3 3 11
 [2,]  7 17 1  5 5  9
 [3,] 20 21 7 12 3 15
 [4,] 14 11 2  6 5 22
 [5,] 14 16 3  4 3 15
 [6,] 12 14 1  3 6 16
 [7,] 10 17 2  5 1 13
 [8,] 23 17 1  5 1 10
 [9,] 17 19 3  5 3 26
[10,] 20 21 0  5 2 26
[11,] 14  7 1  2 6 24
[12,] 13 13 4  4 4 13

In [174]:
sprCount <- lapply(spIns,sum)
sprCount

$A
[1] 174

$B
[1] 184

$C
[1] 25

$D
[1] 59

$E
[1] 42

$F
[1] 200

In [175]:
unlist(sprCount)

  A   B   C   D   E   F
174 184  25  59  42 200

In [176]:
sapply(spIns,sum)

  A   B   C   D   E   F
174 184  25  59  42 200

### DDPLY

In [177]:
ddply(InsectSprays,.(spray),summarise,sum=sum(count))

  spray sum
1 A     174
2 B     184
3 C      25
4 D      59
5 E      42
6 F     200

In [178]:
spraySums <- ddply(InsectSprays,.(spray),summarise,sum=ave(count,FUN = sum))
dim(spraySums)

[1] 72  2

In [179]:
head(spraySums)

  spray sum
1 A     174
2 A     174
3 A     174
4 A     174
5 A     174
6 A     174

In [183]:
head(spraySums)

  spray sum
1 A     174
2 A     174
3 A     174
4 A     174
5 A     174
6 A     174

## Lecture 3 - Dplyr package

In [186]:
library(dplyr)

In [187]:
download.file("https://github.com/DataScienceSpecialization/courses/blob/master/03_GettingData/dplyr/chicago.rds",destfile = "./data/chicago.rds")

In [189]:
chicago <- readRDS("./data/chicago.rds")

In [190]:
dim(chicago)

[1] 6940    8

In [191]:
str(chicago)

'data.frame':	6940 obs. of  8 variables:
 $ city      : chr  "chic" "chic" "chic" "chic" ...
 $ tmpd      : num  31.5 33 33 29 32 40 34.5 29 26.5 32.5 ...
 $ dptp      : num  31.5 29.9 27.4 28.6 28.9 ...
 $ date      : Date, format: "1987-01-01" "1987-01-02" ...
 $ pm25tmean2: num  NA NA NA NA NA NA NA NA NA NA ...
 $ pm10tmean2: num  34 NA 34.2 47 NA ...
 $ o3tmean2  : num  4.25 3.3 3.33 4.38 4.75 ...
 $ no2tmean2 : num  20 23.2 23.8 30.4 30.3 ...

In [192]:
names(chicago)

[1] "city"       "tmpd"       "dptp"       "date"       "pm25tmean2"
[6] "pm10tmean2" "o3tmean2"   "no2tmean2"

In [193]:
head(select(chicago,city:dptp))

  city tmpd dptp
1 chic 31.5 31.500
2 chic 33.0 29.875
3 chic 33.0 27.375
4 chic 29.0 28.625
5 chic 32.0 28.875
6 chic 40.0 35.125

In [194]:
head(select(chicago,-(city:dptp)))

  date       pm25tmean2 pm10tmean2 o3tmean2 no2tmean2
1 1987-01-01 NA         34.00000   4.250000 19.98810
2 1987-01-02 NA               NA   3.304348 23.19099
3 1987-01-03 NA         34.16667   3.333333 23.81548
4 1987-01-04 NA         47.00000   4.375000 30.43452
5 1987-01-05 NA               NA   4.750000 30.33333
6 1987-01-06 NA         48.00000   5.833333 25.77233

In [195]:
chic.f <- filter(chicago,pm25tmean2>30)
head(chic.f)

  city tmpd dptp date       pm25tmean2 pm10tmean2 o3tmean2  no2tmean2
1 chic 23   21.9 1998-01-17 38.10      32.46154    3.180556 25.30000
2 chic 28   25.8 1998-01-23 33.95      38.69231    1.750000 29.37630
3 chic 55   51.3 1998-04-30 39.40      34.00000   10.786232 25.31310
4 chic 59   53.7 1998-05-01 35.40      28.50000   14.295125 31.42905
5 chic 57   52.0 1998-05-02 33.30      35.00000   20.662879 26.79861
6 chic 57   56.0 1998-05-07 32.10      34.50000   24.270422 33.99167

In [197]:
chic.d <- filter(chicago,pm25tmean2>30 &tmpd >80)
head(chic.d)

  city tmpd dptp date       pm25tmean2 pm10tmean2 o3tmean2 no2tmean2
1 chic 81   71.2 1998-08-23 39.6000    59.0       45.86364 14.32639
2 chic 81   70.4 1998-09-06 31.5000    50.5       50.66250 20.31250
3 chic 82   72.2 2001-07-20 32.3000    58.5       33.00380 33.67500
4 chic 84   72.9 2001-08-01 43.7000    81.5       45.17736 27.44239
5 chic 85   72.6 2001-08-08 38.8375    70.0       37.98047 27.62743
6 chic 84   72.6 2001-08-09 38.2000    66.0       36.73245 26.46742

In [199]:
chicago <- arrange(chicago,date)
head(chicago)

  city tmpd dptp   date       pm25tmean2 pm10tmean2 o3tmean2 no2tmean2
1 chic 31.5 31.500 1987-01-01 NA         34.00000   4.250000 19.98810
2 chic 33.0 29.875 1987-01-02 NA               NA   3.304348 23.19099
3 chic 33.0 27.375 1987-01-03 NA         34.16667   3.333333 23.81548
4 chic 29.0 28.625 1987-01-04 NA         47.00000   4.375000 30.43452
5 chic 32.0 28.875 1987-01-05 NA               NA   4.750000 30.33333
6 chic 40.0 35.125 1987-01-06 NA         48.00000   5.833333 25.77233

In [200]:
chicago <- arrange(chicago,desc(date))
head(chicago)

  city tmpd dptp date       pm25tmean2 pm10tmean2 o3tmean2  no2tmean2
1 chic 35   30.1 2005-12-31 15.00000   23.5        2.531250 13.25000
2 chic 36   31.0 2005-12-30 15.05714   19.2        3.034420 22.80556
3 chic 35   29.4 2005-12-29  7.45000   23.5        6.794837 19.97222
4 chic 37   34.5 2005-12-28 17.75000   27.5        3.260417 19.28563
5 chic 40   33.6 2005-12-27 23.56000   27.0        4.468750 23.50000
6 chic 35   29.6 2005-12-26  8.40000    8.5       14.041667 16.81944

In [201]:
tail(chicago)

     city tmpd dptp   date       pm25tmean2 pm10tmean2 o3tmean2 no2tmean2
6935 chic 40.0 35.125 1987-01-06 NA         48.00000   5.833333 25.77233
6936 chic 32.0 28.875 1987-01-05 NA               NA   4.750000 30.33333
6937 chic 29.0 28.625 1987-01-04 NA         47.00000   4.375000 30.43452
6938 chic 33.0 27.375 1987-01-03 NA         34.16667   3.333333 23.81548
6939 chic 33.0 29.875 1987-01-02 NA               NA   3.304348 23.19099
6940 chic 31.5 31.500 1987-01-01 NA         34.00000   4.250000 19.98810

In [202]:
chicago <- rename(chicago,pm25=pm25tmean2,dewpoint=dptp)

In [203]:
head(chicago)

  city tmpd dewpoint date       pm25     pm10tmean2 o3tmean2  no2tmean2
1 chic 35   30.1     2005-12-31 15.00000 23.5        2.531250 13.25000
2 chic 36   31.0     2005-12-30 15.05714 19.2        3.034420 22.80556
3 chic 35   29.4     2005-12-29  7.45000 23.5        6.794837 19.97222
4 chic 37   34.5     2005-12-28 17.75000 27.5        3.260417 19.28563
5 chic 40   33.6     2005-12-27 23.56000 27.0        4.468750 23.50000
6 chic 35   29.6     2005-12-26  8.40000  8.5       14.041667 16.81944

In [204]:
chicago <- mutate(chicago,pm25detrend=pm25-mean(pm25,na.rm = TRUE))
head(chicago)

  city tmpd dewpoint date       pm25     pm10tmean2 o3tmean2  no2tmean2
1 chic 35   30.1     2005-12-31 15.00000 23.5        2.531250 13.25000
2 chic 36   31.0     2005-12-30 15.05714 19.2        3.034420 22.80556
3 chic 35   29.4     2005-12-29  7.45000 23.5        6.794837 19.97222
4 chic 37   34.5     2005-12-28 17.75000 27.5        3.260417 19.28563
5 chic 40   33.6     2005-12-27 23.56000 27.0        4.468750 23.50000
6 chic 35   29.6     2005-12-26  8.40000  8.5       14.041667 16.81944
  pm25detrend
1 -1.230958
2 -1.173815
3 -8.780958
4  1.519042
5  7.329042
6 -7.830958

In [205]:
chicago <- mutate(chicago,tempcat = factor(1*(tmpd>80),labels = c("cold","hot")))
head(chicago)

  city tmpd dewpoint date       pm25     pm10tmean2 o3tmean2  no2tmean2
1 chic 35   30.1     2005-12-31 15.00000 23.5        2.531250 13.25000
2 chic 36   31.0     2005-12-30 15.05714 19.2        3.034420 22.80556
3 chic 35   29.4     2005-12-29  7.45000 23.5        6.794837 19.97222
4 chic 37   34.5     2005-12-28 17.75000 27.5        3.260417 19.28563
5 chic 40   33.6     2005-12-27 23.56000 27.0        4.468750 23.50000
6 chic 35   29.6     2005-12-26  8.40000  8.5       14.041667 16.81944
  pm25detrend tempcat
1 -1.230958   cold
2 -1.173815   cold
3 -8.780958   cold
4  1.519042   cold
5  7.329042   cold
6 -7.830958   cold